<!DOCTYPE html>
<html lang="en"
      data-layout="topnav"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
    <th:block layout:fragment="page-meta"/>
    <th:block layout:fragment="styles"/>
    <th:block th:replace="~{partials/head-css :: head-css}"/>
</head>

<body>

<div class="wrapper">

    <th:block th:replace="~{partials/topbar :: topbar}"/>

    <th:block th:replace="~{partials/horizontal-nav :: horizontal-nav}"/>

    <div class="content-page">

        <th:block layout:fragment="content" th:remove="tag"></th:block>

        <th:block th:replace="~{partials/footer :: footer}"/>

    </div>

</div>

<th:block th:replace="~{partials/customizer :: customizer}"/>

<th:block th:replace="~{partials/footer-scripts :: footer-scripts}"/>

<th:block layout:fragment="javascripts"/>

</body>

</html>