<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
    <th:block layout:fragment="page-meta"/>

    <th:block layout:fragment="styles"/>

    <th:block th:replace="~{partials/head-css :: head-css}" />
</head>

<body>

<th:block layout:fragment="preloader" th:remove="tag"></th:block>

<div class="wrapper">

    <th:block th:replace="~{partials/topbar :: topbar}"/>
    
    <th:block th:replace="~{partials/sidenav :: sidenav}"/>

    <div class="content-page">

        <div class="container-fluid">
            <th:block layout:fragment="content" th:remove="tag"></th:block>
        </div>

        <th:block th:replace="~{partials/footer :: footer}"/>

    </div>

    <th:block layout:fragment="extra-content" th:remove="tag"></th:block>

</div>

<th:block th:replace="~{partials/customizer :: customizer}"/>

<th:block th:replace="~{partials/footer-scripts :: footer-scripts}"/>

<th:block layout:fragment="scripts"/>

</body>

</html>